<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>LACC Admin</title>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
		<link rel="stylesheet" href="/admin.css">
		<script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css">
		<script src="jquery-1.11.0.min.js"></script>
		<script src="jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
		<script src="/admin.js"></script>
	</head>
	<body>
		<div id="letterbox">
			<div id="foreground">
				<span class="title_span">LACC Admin</span> <span class="logout_span"> <a href="/logout">Sign out</a></span>  <br />
				<div id="left_column">
					<form >
						<div id="radio">
							<input type="radio" id="add_point_radio" name="radio_panel" checked="checked"><label for="add_point_radio">Add Point</label> 
							<input type="radio" id="edit_category_radio" name="radio_panel" ><label for="edit_category_radio">Edit Category</label>
							<input type="radio" id="database_radio" name="radio_panel" ><label for="database_radio">Database</label>
						</div>
					</form > 
					<div id="add_point_panel">   
						<button type="button" id="add_point" value="add_point">
							Place New Point On Map
						</button>
						<ul>
							<form id="project_entry" enctype="multipart/form-data" action="/admin/update-project" method="post">
								<li>
									<input id="project_lat" name="project_lat" type="text" placeholder="Project Latitude" required>
								</li>
									<li>
									<input class="p_id" id="p_id" name ="p_id" type="text" hidden>
									</li>
								<li>
									<input id="project_lng" name="project_lng" placeholder="Project Longitude"
										type="text" required >
								</li>
								<li>
									<input id="project_name" name="project_name" type="text" placeholder="Project Name" required >
								</li>
								<li>
									<select id="project_category" name="project_category" >
										<option value="" disabled selected>Project Category</option>
										 <% for (var i = 0; i < categories.length; i++) { %>
											<option value='<%= categories[i]['_id'] %>' class="input"><%=categories[i]['name']%> </option>
										<% }%>
									</select>
								</li>
								<li>
									<select id="location" name="location" style="width:108.5%" >
										<option value="" disabled selected>Location</option>
										<option value='true' class="input">Inside LA </option>
										<option value='false' class="input">Outside LA </option>
									</select>
								</li>
								<li>
									<textarea id="project_address" name="project_address"
										form="project_entry" placeholder="Project Address" required ></textarea>
								</li>
								<li>
									<textarea id="project_narrative"
										name="project_narratives"
										form="project_entry" placeholder="Project Narrative" required ></textarea>
								</li>
								<li>
									<button type="button" id="add_image">
										Add Image
									</button><br />
									<div id="image_injection_div" style="width:384px"></div>
								</li>
								<li>
									<button type="button" id="add_entry">
										Add Custom 	Field 
									</button>
									<div id="custom_field_injection_div"></div>
								</li>
								<li>
									<button form="project_entry" type="submit" value="submit" id="submit_button_id" >
										Update Project
									</button>
								</li>
							</form>
							<form id="project_delete" enctype="multipart/form-data" action="/admin/delete-project" method="post">
								<input class="p_id" id="p_id" name ="p_id" type="text" hidden>
								<li>
									<button form="project_delete" type="submit" value="submit" id="delete_button" >
										Delete Project
									</button>
								</li>
							</form>
						</ul>
					</div>
					<div id="edit_category_panel">
						<form id="category_entry" enctype="multipart/form-data" action="/admin/create-category" method="post">
							<ul id="entry_list">
								<li>
									New Category:
								</li>
								<li>
									<input id="new_category" name="new_category" type="text" placeholder="New Project Category">
								</li>
								<li>
									Add Image
									<input id="category_image" type="file" name="category_image">
								</li>
								<li>
									<button type="submit" id="update_cat" value="update_cat"  disabled>
										Add Category
									</button>
								</li>
							</ul>
						</form>
						<br>
						Edit Categories:
							<form id='update_categories' enctype="multipart/form-data" action="/admin/update-categories" method="post">
								<br>
								<% for (var i = 0; i < categories.length; i++) { %>
									<div style="float:left; height:60px;">
										<img src='/category/<%=categories[i]['_id'] %>/image' height="42" width="42"><br>
									</div>
									<div >
										<input style="width:330px" type="text" name='<%=categories[i]['_id'] %>' placeholder="<%=categories[i]['name'] %>"><br />
										<input style="width:330px" type="file" name='<%=categories[i]['_id'] %>'>
									</div><br />
								<% }%>
								<button id="submit_categories" type="submit">Save Changes </button>  
							</form>
						<form id="category_entry">
							<input type="hidden" name="c_id" id="c_id" value=""/>
							<input type="hidden" name="cat_cnt" id="cat_cnt" value="0"/>
							<ul id="category_list"></ul>
						</form>
					</div>
					<div id="database_panel">
						Database Operation:
						<select id="database_category">
						  <option value="import">Import Database</option>
						  <option value="export">Export Database</option>
						  <option value="register_user">Register User</option>
						</select>
						<br/> <br/>
						<form action="/admin/upload" style = "float:left;" method="POST" enctype="multipart/form-data" id="import_form">
							<input type="file" name="csvFile"> 
							<button type="submit" id="import_button">Import File</button>
						</form>
						<form action="/download" method="GET" style="display:none" id="export_form">
							<button type="submit" id="export_button" class="btn">Export Database</button>
						</form>
						<form action="/signup-user" method="post" id="register_user_form" style="display:none">         
		                    <div>
		                        <input placeholder="Username" type="text" name="username"/>
		                    </div>
		                    <div>
		                        <input placeholder="Password" type="password" name="password"/>
		                    </div>		              
		                    <div>
		                        <input type="submit" value="Create User"/>
		                    </div>
	                	</form>
					</div>
				</div>
				<div id="map"></div>	
			</div>
		</div>        
	</body>
</html>
